*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #1fc24a;
}
.Header{
  background-color: blue;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.inputdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #fff;
  margin: auto;
  height: 100%;
  width: 80%;
  margin-top: 20px;
}
.inputdiv input{
  padding: 10px;
  margin: 10px;
}
.inputdiv button{
  padding: 10px;
  margin: 10px;
}
.inputdiv textarea{
  padding: 10px;
  margin: 10px;
}
.inputdiv input,textarea,button{
  border: none;
  border-radius: 20px;
}
.inputdiv input,textarea,button :focus{
  outline: none;
 
}
.task{
  display: flex;
  width: 80%;
  margin: auto;
  border: 2px solid #fff;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}
.task__title{
  width: 100%;
}
.task > button{
  border: none;
 /* margin-left: 80%; */
 width: 7%;
 padding: 10px;
 color: black;
 font-size: 20px;
 height: 40px;
 text-align: center;
 margin-top: 10px;

}
.task > button:hover{
  background-color: blueviolet;
}
.task__title > span{
  font-size: 20px;
  color: rgba(56, 56, 56, 0.653);
}

